

$primaryColor: #dc3545;
$dangerColor: #dc3545;
$steel: #515151;
$fontColor: #6f7484;
$white: #ffffff;
$black: #515151;
$blackRussian: #101725;
$blackRussianLite: #232630;
$aliceBlueHome: #D1DFEC;
$aliceBlue: #f7f9fc;
$aliceBlueLite: #f9fbfe;
$aliceBluedark: #515666;
$solitude: #f0f3f7;
$snow: #fbfbfb;


$headerFont: 'Jost', sans-serif;
$bodyFont: 'Jost', sans-serif;

$addonFont: 'Cy', sans-serif;
// f7f9fc #aaaaaa