
/*---------------------------------------------
	13.0 Animated-number Style
---------------------------------------------*/

.fact-bg {
	background-image: url("/wp-content/themes/jobs/images/bg-facts.svg");
	height: 560px;
	margin-top: -6%;
	background-size: cover;

	
	
	@media (max-width: 1366px) {
		

		padding: 100px 0px;
		height: auto;
	}
}

.flip-card-back {
	
	h1 {
		color: $white;
	}

	@media (max-width: 1366px) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
}





.fact {
	text-align: center;
	color: $white;
	margin-bottom: 30px;
	.fact-icon {
		svg {
			height: 35px;
		}
	}
	.fact-number {
		font-size: 30px;
		margin-top: 20px;
		font-family: $headerFont;
		font-weight: 500;
		margin-bottom: 0;
		line-height: 1;
	}
	.fact-name {
		font-family: $headerFont;
		font-weight: 400;
		font-size: 1.5rem;
		margin-top: 0;
	}
}