.about-us-content {
  max-width: 1400px;
}

.container {
  .row {
    .about-us-text {
      //font-family: "Cy", sans-serif;
      line-height: 1.4;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 15px;
      color: $black;
    }
    .profile-content {
      text-align: center;
      .nav-item {
        background: rgba(36, 109, 248, 0.1);
        border-radius: 5px;
        color: black;
        border: 1px solid transparent;
        padding: 10px 15px 10px 15px;
      }

      .image-home-text {
        padding: 20px;
        font-size: 22px;
      }
    }
  }
}

.flips {
  height: 640px;
  @media (max-width: 1024px) {
    margin-top: 50px;
    padding: 0 !important;
    height: 100%;
    flex-direction: column;
  }
  margin-bottom: 3rem;

  .flip-card-front img {
    max-width: 100%;
  }

  .flip-card {
    margin-bottom: 100px;
  }
}

@media (min-width: 1366px) {
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 512px;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      .flip-card-back-text{
        line-height: 1.4;
        font-size: 22px;
        font-weight: 400;
        color: #515151;
        padding-left:10%;
        padding-right:10%;
      }
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: #FFFFFF;
      color: black;
    }

    /* Style the back side */
    .flip-card-back {
      padding-top: 18rem;
      background-size: cover;
      background-position: 150% 100%;
      color: black;
      transform: rotateY(180deg);
    }
  }
}
.news-container{
  margin:15px;
  .image-contain{
  }
  .is-selected {
    .card-img-top{
      border-top-right-radius: 35px;
    }
  }
  .is-next {
    .card-img-top{
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
    }
  }
  .is-nextnext {
    .card-img-top{
      border-top-left-radius: 35px;
    }
  }

  h2{
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 2.8rem !important;
    position: relative;
    z-index: 4;
  }
  .card-news-whole {
    .card-news {
      height: 325px;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
@media (max-width: 1024px){
  .flip-card-back-text{
    padding: 0px 4%;
  }
}
